[user]
	email = monica.yc.li@gmail.com
	name = Monica Li

[github]
	user = monicaycli

[ghi]
	token = !security find-internet-password -a monicaycli -s github.com -l 'ghi token' -w

[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true

[core]
	excludesfile = ~/.gitignore_global
	editor = "vim"
	autocrlf = input

[merge]
	tool = "vimdiff"
	conflictstyle = "diff3"

[mergetool]
	prompt = true

[mergetool "vimdiff"]
	cmd = nvim -d $BASE $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'

[diff]
	tool = "vimdiff"

[difftool]
	prompt = true

[mergetool "vimdiff"]
	cmd = nvim -d $BASE $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
