[user]
	email = monica.yc.li@gmail.com
	name = Monica Li

[github]
	user = monicaycli

[ghi]
	token = !security find-internet-password -a monicaycli -s github.com -l 'ghi token' -w

[pager]
	log = diff-highlight | less
	show = diff-highlight | less
	diff = diff-highlight | less

[tig]
	diff-highlight = true

[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true

[core]
	excludesfile = ~/.gitignore_global
	editor = "vim"
	autocrlf = input

[merge]
	tool = "vimdiff"
	conflictstyle = "diff3"

[mergetool]
	prompt = false

[diff]
	tool = "vimdiff"

[difftool]
	prompt = false
